@page
@model Barebone.ViewModels.Account.PasswordHasherViewModel

@{
    ViewBag.Title = "Hash Password";
}
<div class="container">
    <div class="row">
        <div class="col c12">
            <h2>Advanced Sample Accounting <br/>Web Application</h2>
            <br/>
            <h3>Password Hasher</h3>
        </div>
    </div>
   
    <div class="row">
        To generate hashed password, fill the field with your clear password and click the button.
    </div>
    <div class="row">
        <form method="post" action="@Url.Action("PasswordHasher")">
            <div>
                <label for="PasswordToHash">Enter password to hash: (min 8 characters)</label>
                <div>
                    <input name="PasswordToHash" id="PasswordToHash"/>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-a btn-sm">Generate</button>
                <button type="submit" class="btn btn-d btn-sm" onclick="location.href='/Account/LogIn'; return false;">Back to Login</button>
            </div>
        </form>
    </div>
    <div class="row">
        <h3>@ViewBag.PasswordResult</h3>
        <div class="msg">
            <strong>Watch out!</strong>
            Copy the generated hash into appsettings.json file, section User->Password <br/>
            and restart the application.
        </div>
    </div>
</div>